
<footer class="footer-distributed" >
    <span style="color: #ffffff ;font-size: 10px">
        @Deepesh Agrawal has designed and developed the website (Applying CRUD Operations Using Node.js).
    </span>
</footer>
<script src="/js/main.js"></script>
</body>

</html>