.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
    display: block;
    background-color: rgba(1, 60, 105, 0.59);
    padding: 10px;
    border-radius: 10px;
    border: 4px solid rgb(108, 110, 110);
    margin-top: 10%;
    color:rgb(236, 236, 236);
    font-weight: bold;
}

.product-form input{
    color: white;
    background: rgba(46, 87, 90, 0.464);

}

.product-form textarea
{
    background: rgba(46, 87, 90, 0.464);
    color: white;
}


.product-item {
    width: 25rem;
    max-width: 95%;
    margin: 1rem;
    background: #A1FFCE;  
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    border: 2px solid #020202;
}

.product__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family:monospace;
}

.product__price {
    text-align: center;
    color: #000000;
    margin-bottom: 0.5rem;
}

.product__description {
    margin-top: 1rem;
    color: #020202;
    font-size: 18px;
    text-align: center;
}

.checkit{
    color: white;
    font-size: 60px;
    margin: auto auto;
  }
